*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
   
}
.max-width{
    max-width:1500;
    padding: 15px;
    margin: auto;
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    transition: all 0.8s ease;
}
.navbar.sticky{
    padding: 20px 0;
    background:lightsteelblue;

}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color:gold;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color:lime;
    transition: all 0.8s ease;
}
.navbar.sticky .logo a span{
    color:limegreen;
}
.navbar .menu li{
    list-style: none;
    display:inline-block;
}
.navbar .menu li a{
    color:navy;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.8s ease;
}
.navbar .menu li a:hover{
    color:red;
}
.navbar.sticky .menu li a:hover{
    color:red;
}

.navbar .menu li.dropdown {
    display: inline-block;
}
 
.navbar .menu .dropdown-content {
    display: none;
    position: absolute;
    background-color:deeppink;
    min-width: 160px;
    z-index: 1;
}
  
.navbar .menu .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.navbar .menu .dropdown:hover .dropdown-content {
    display: block;
}


/* About Us */
.About .About-Image{
    background: url("Images/About-us.jpg") no-repeat center;
    background-size:700px 500px; 
    height:600px;
    width:auto;
 }


.About .title{
    font-size:60px;
    font-weight: 600px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style :initial ;
    color:darkgreen;
    text-align:center;
}

.About .About-content{
    padding: 15px;
    background:sienna;
}
.About .About-content .text-name{
    font-size: 40px;
    font-weight: 450;
    color:deeppink;
    font-style :oblique ;
    background-color:lavenderblush;
}

.About .About-content .text-1{
    font-size: 20px;
    font-weight: 500;
    color:darkred;
    background-color: honeydew;
}

/*footer*/

.footer{
    margin: 0;
    width: 100%;
    height: auto;
    background-color:black;
    color:white;
    padding-top: 0;
}


.footer-name{
    margin: auto;
    padding: auto;
    border-bottom:1px solid white ;
    padding: 30px;
    font-family: 'sans-serifS';
    font-size: 25px;
    color:honeydew;  
    text-align: center;
}


.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-items: center;
}

.footer li{
    float: left;
    font-size: 24px;
    padding: 20px;
    margin: 0 10px;
}

.Social a{
    text-decoration: none;
    color:floralwhite;
}

.footer-bottom{
    text-align: center;
    margin: 0;
    padding: 20px;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}


.footer-bottom span{
   color: darkgrey;
    opacity:80%;
}
