
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width:1500;
    padding: 15px;
    margin: auto;
}

/* navbar*/
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    transition: all 0.8s ease;
}
.navbar.sticky{
    padding: 20px 0;
    background:darkslategrey;

}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color:gold;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color:lime;
    transition: all 0.8s ease;
}
.navbar.sticky .logo a span{
    color:limegreen;
}
.navbar .menu li{
    list-style: none;
    display:inline-block;
}
.navbar .menu li a{
    color:mistyrose;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.8s ease;
}
.navbar .menu li a:hover{
    color:red;
}
.navbar.sticky .menu li a:hover{
    color:red;
}

.navbar .menu li.dropdown {
    display: inline-block;
}
 
.navbar .menu .dropdown-content {
    display: none;
    position: absolute;
    background-color:deeppink;
    min-width: 160px;
    z-index: 1;
}
  
.navbar .menu .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.navbar .menu .dropdown:hover .dropdown-content {
    display: block;
}

/* home section styling */
.home{
    display: flex;
    background: url("Images/Home-beach.jpg") no-repeat center;
    background-size: 1920px 1080px; 
    height:800px;
    color:palegoldenrod;
    min-height: 100px;
    text-align: center;
    font-family:cursive;  
}

.home .max-width{
    margin: auto ;
}
.home .home-content .text-1{
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    color: cyan;   
}

.home .home-content a{
    display: inline-block;
    background: black;
    color: blanchedalmond;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid black;
    transition: all 0.8s ease;
}
.home .home-content a:hover{
    color:lightyellow;
    background: none;
}

/* all similar content styling code */
section{
    padding: 100px 0;
}
.About, .contact, .explore{
    font-family:sans-serifS ;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family:fantasy;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}
section .title::after{ 
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background:navajowhite;
    transform: translateX(-50%);
}



/* Welcome to Sri Lanka*/
.Welcome{
    background-color:papayawhip;}

.Welcome .Welcome-content  .text-2{
    font-size:30px;
    font-family:Georgia,'Times New Roman', Times, serif;
    font-style:normal;
    font-weight: 600px;
    color: blue;
    opacity: 100%;
}
.Welcome .Ayubowan .text-3{
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 500px;
    color:crimson;
}
.Welcome .Welcome-Image{
    background: url("Images/Home-bird.jpeg") no-repeat center;
    background-size: 1280px 720px; 
    height:720px;   
}
   

/*Why visit Sri Lanka*/
.Visit{
    background-color:navajowhite ;
}
.Visit .Visit-content .text-4{
    font-size:30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 600px;
    color: blue;
}
.Visit .Sri_Lanka .text-5{
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 500px;
    color:crimson;
}
.Visit .Visit-Image{
    background:url("Images/Home-Elephant.jpg");
    background-size: 1920px 1080px; 
    height:1080px;
}


/*footer*/


.footer{
    margin: 0;
    width: 100%;
    height: auto;
    background-color:black;
    color:white;
    padding-top: 0;
}


.footer-name{
    margin: auto;
    padding: auto;
    border-bottom:1px solid white ;
    padding: 30px;
    font-family: 'sans-serifS';
    font-size: 25px;
    color:honeydew;  
    text-align: center;
}


.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-items: center;
}

.footer li{
    float: left;
    font-size: 24px;
    padding: 20px;
    margin: 0 10px;
}

.Social a{
    text-decoration: none;
    color:floralwhite;
}

.footer-bottom{
    text-align: center;
    margin: 0;
    padding: 20px;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}


.footer-bottom span{
   color: darkgrey;
    opacity:80%;
}